@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}


.table-container {
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  text-align: center;
  padding: 8px;
}


tr:hover {
  background-color: #444; /* Hover más claro */
}


nav {
  transition: all 0.3s ease;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

button {
  background: none;
  border: none;
  font-size: 1rem;
  cursor: pointer;
}

/* Estilos personalizados para tablas */
.prose table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
}

.prose th,
.prose td {
  border: 1px solid #e5e7eb; /* Color gris claro */
  padding: 0.5rem;
  text-align: left;
}

.prose th {
  background-color: #f3f4f6; /* Color gris claro */
  font-weight: bold;
}

.prose tbody tr:nth-child(odd) {
  background-color: #f9fafb; /* Alternar colores para filas */
}

.prose table tbody tr:hover {
  background-color: inherit; /* Elimina el color de fondo del hover */
}

.center {
  text-align: center;
}